body {
  margin: 0;
  padding: 0;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

a.gh-link {
  &,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}
