body {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 0.5rem;
  height: calc(100vh - 0.5rem);
  width: 100vw;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .icon-card {
    margin: 0.5rem;
  }
}

a.gh-link {
  text-decoration: none;
}
